.projects_page_whole2 ol {
  list-style: none;
}

.projects_page_whole2 li {
  list-style: none;
}

.projects_page_whole2 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.projects_page_whole2_wrapper {
  background-color: rgb(17, 17, 17);
  width: 100vw;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.promo_wrapper { 
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
}

.promo_message_first_body {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 230px;
  max-width: 520px;
  margin: 20px;
  border-radius: 0.20rem;
  background-color: rgba(220, 220, 220, 0.776);
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  padding: 20px;
  z-index: 90;
  gap: 10px;
  animation: changeBoxshadow 5s infinite;
  margin-top: 80vh;

}


.close_button {
  width: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-top: 10px;
  border-radius: 0.45rem;
  box-shadow: white 0px 0px 7px;
  padding: 5px;
  padding-bottom: 7px;
  transition: 0.5s;
  color: white;
  border-color: whitesmoke;
  border-width: 1px;
  animation: Changecolor 20s infinite;
  background-color: black;

}

.close_button:hover {
  background-color: rgba(255, 255, 255, 0.66);
  color: rgb(23, 23, 23);
  transition: 0.5s;
  transform: scale(1.05);
  border-width: 0;
}

.close_button_image {
  width: 10px;
  height: 10px;
}




.promo_message_first_body h1 { 

  animation: Changebordercolor 5s infinite;
}

@keyframes Changebordercolor {
  0% {
    color: rgb(0, 79, 52);


  }

  50% {
    color: rgb(0, 39, 47);


  }

  75% {
    color: rgb(50, 0, 108);

  }

  100% {
    color: rgb(55, 0, 0);
  }
}



.header_butt {
  margin-top:70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/bgwhole6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  width: 100vw;
  padding: 20px;
  padding-top: 50px;
}

.avatar_image_list_item_and_name_and_emails_item {
  display: flex;
  align-items: center;
}

.avatar_image_list_item {
  width: 70px;
  height: 70px;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  background-image: url("/bgwhole20.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: white 0px 0px 1px;
  border-width: 2px;
  border-color: rgb(204, 204, 204);
  animation: changeBgimage 5s infinite;

}

@keyframes changeBgimage {
  0% {
    background-image: url("/whitelines.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1);


  }

  50% {
    background-image: url("/bgwhole8.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(0.9);


  }

  75% {
    background-image: url("/bgwhole7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1);

  }

  100% {
    background-image: url("/bgwhole10.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.3);

  }
}


.name_and_emails_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  color: rgb(0, 246, 164);
  font-size: 15px;
}

.emails { 
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: whitesmoke;
font-size: 12px;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 0;
  white-space: nowrap;
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.35rem;
  box-shadow:  hwite 0px 0px 10px;
  transition: 0.5s;
}


.button:hover { 
  box-shadow: rgb(72, 72, 72) 0px 0px 10px;
  transition: 0.5s;
  transform: scale(1.03);
}

.credentials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: rgba(24, 24, 24, 0.6);
  border-radius: 0.45rem;
  padding: 10px;
  width: 85vw;
}

.credentials_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.credentials_image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 0 10px;
}



.top_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  color: whitesmoke;
  transition: 0.5s;
}

.top_title:hover {
  color: rgb(157, 157, 157);
  transition: 0.5s;
}

.title_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.split_bar {
  margin: 0 10px;
  height: 25px;
  width: 2px;
  background-color: whitesmoke;
}

.middle_sqaure_tabs {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.middle_sqaure_tabs_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85vw;
}

.middle_sqaure_tabs_wrapper2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85vw;
}

.icons_and_text {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
  height: 180px;
  background-color: rgba(24, 24, 24, 0.6);
  border-radius: 0.45rem;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 200px;
}
.icons_and_text p { 
margin: 5px;
  font-size: 12px;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icons {
  width: 25px;
  height: 18px;
  object-fit: cover;
  margin: 10px;
}

.icons_and_text3 {
  background-color: rgba(247, 247, 247, 0);
  text-align: center;
  margin: 0 20px;
  width: 230px;
}

.icons_and_text3 h1 {
  color: rgb(136, 0, 0);
  font-size: 18px;
  font-weight: 700;
}

.icons_and_text3 p {
  color: rgb(192, 192, 192);
  font-size: 13px;
}

