.projects_page_whole2 ol {
  list-style: none;
}

.projects_page_whole2 li {
  list-style: none;
}

.projects_page_whole2 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.projects_page_whole2_wrapper {
  background-color: rgb(17, 17, 17);
  width: 100vw;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.promo_wrapper { 
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
}

.promo_message_first_body {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 230px;
  max-width: 520px;
  margin: 20px;
  border-radius: 0.20rem;
  background-color: rgba(220, 220, 220, 0.776);
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  padding: 20px;
  z-index: 90;
  gap: 10px;
  animation: changeBoxshadow 5s infinite;
  margin-top: 80vh;

}


.close_button {
  width: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-top: 10px;
  border-radius: 0.45rem;
  box-shadow: white 0px 0px 7px;
  padding: 5px;
  padding-bottom: 7px;
  transition: 0.5s;
  color: white;
  border-color: whitesmoke;
  border-width: 1px;
  animation: Changecolor 20s infinite;
  background-color: black;

}

.close_button:hover {
  background-color: rgba(255, 255, 255, 0.66);
  color: rgb(23, 23, 23);
  transition: 0.5s;
  transform: scale(1.05);
  border-width: 0;
}

.close_button_image {
  width: 10px;
  height: 10px;
}




.promo_message_first_body h1 { 

  animation: Changebordercolor 5s infinite;
}

@keyframes Changebordercolor {
  0% {
    color: rgb(0, 79, 52);


  }

  50% {
    color: rgb(0, 39, 47);


  }

  75% {
    color: rgb(50, 0, 108);

  }

  100% {
    color: rgb(55, 0, 0);
  }
}



.header_butt {
  margin-top:70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/bgwhole6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  width: 100vw;
  padding: 20px;
  padding-top: 50px;
}

.avatar_image_list_item_and_name_and_emails_item {
  display: flex;
  align-items: center;
}

.avatar_image_list_item {
  width: 70px;
  height: 70px;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  background-image: url("/bgwhole20.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: white 0px 0px 1px;
  border-width: 2px;
  border-color: rgb(204, 204, 204);
  animation: changeBgimage 5s infinite;

}

@keyframes changeBgimage {
  0% {
    background-image: url("/whitelines.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1);


  }

  50% {
    background-image: url("/bgwhole8.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(0.9);


  }

  75% {
    background-image: url("/bgwhole7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1);

  }

  100% {
    background-image: url("/bgwhole10.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.3);

  }
}


.name_and_emails_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  color: rgb(0, 246, 164);
  font-size: 15px;
}

.emails { 
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: whitesmoke;
font-size: 12px;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 0;
  white-space: nowrap;
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.35rem;
  box-shadow:  hwite 0px 0px 10px;
  transition: 0.5s;
}


.button:hover { 
  box-shadow: rgb(72, 72, 72) 0px 0px 10px;
  transition: 0.5s;
  transform: scale(1.03);
}

.credentials {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(24, 24, 24, 0.6);
  border-radius: 0.45rem;
  width: 100vw;
  margin-top: 20px;
  box-sizing: border-box; 
  overflow: hidden;
}

.credentials_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; 
  height: 50px;
}

.credentials_image {
  width: 15px;
  height: 15px;
  object-fit: cover;
  border-radius: 60%;
  box-shadow: rgb(224, 224, 224) 0px 0px 6px;
}

.logos { 
  display: flex;
  flex-direction: row;
  gap: 20px;
}


.top_main_header_and_paragraphs {
  box-shadow: rgb(217, 217, 217) 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: 0.4s;
  width: 100vw;
}

.top_main_header_and_paragraphs:hover {
  transition: 0.4s;
  box-shadow: rgb(211, 211, 211) 0px 0px 5px;
}


.top_main_header {
  width: 200px;
  height: 100px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.top_main_header_header1 {
  white-space: nowrap;
  color: rgb(37, 37, 37);
  font-size: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
}

.top_main_header_header2 {
  white-space: nowrap;
  color: rgb(97, 142, 164);
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;

}

.top_main_header_paragraph2 { 
  height: 130px;
  border-bottom-left-radius: 0.55rem;
  border-bottom-right-radius: 0.55rem;
  background-color: white;
  font-size: 10px;
  transition: 0.3s;
}

.top_main_header_paragraph2:hover { 
  background-color: rgb(36, 36, 36);
  color: whitesmoke;
  transition: 0.3s;
}

.popup {
  display: none;
  z-index: 100;
  position: absolute;
  background-color: rgb(8, 27, 34);
  border-width: 1px;
  font-size: 10px;
  color: rgb(244, 228, 0);
  border-radius: 0.45rem;
  padding: 10px;
  max-width: 300px;
  margin-top: -120px;
  box-shadow: 0px 0px 10px rgba(182, 178, 178, 0.3);
}

.button_toggle_close_paragraph { 
  color: whitesmoke;
  font-weight: 700;
}


.top_main_header_button {
  color: rgb(67, 67, 67);
  text-align: center;
  background-color: rgb(240, 240, 240);
  border-color: rgb(46, 46, 46);
  border-width: 1px;
  width: 100px;
  border-radius: 0.95rem;
  transition: 0.4s;
}

.top_main_header_button:hover {
  background-color: rgb(14, 25, 32);
  color: rgb(230, 230, 230);
  border-color: none;
  transition: 0.4s;
}


.top_main_paragraphs {
  width: 600px;
  display: grid;
  row-gap: 30px;
  column-gap: 50px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(2, 1fr);
}


.top_main_paragraphs_item {
  width: 400px;
  height: 200px;
  background-color: rgb(235, 235, 235);
  background-image: url(/bgwhole17.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.35rem;
  transition: 0.1s;
}

.top_main_icons_target {
  height: 50px;
  width: 50px;
  margin-top: 5px;
  transform: scale(0.6);
  transition: 0.4s;

}

.top_main_icons_chip {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  transform: scale(0.4);
  transition: 0.4s;
}

.top_main_icons_mountain {
  margin-top: 5px;
  height: 50px;
  width: 50px;
  transform: scale(0.5);
  transition: 0.4s;
}


.top_main_icons_features {
  height: 50px;
  margin-top: 5px;
  width: 50px;
  transform: scale(0.5);
  transition: 0.4s;
}



.top_main_icons_target:hover,
.top_main_icons_chip:hover,
.top_main_icons_mountain:hover,
.top_main_icons_features:hover {
  transform: scale(0.7);
  transition: 0.4s;
}


.contact_page_link {
  color: rgb(0, 150, 150);
  transition: 0.6s;
}

.contact_page_link:hover {
  color: rgb(0, 74, 74);
  transition: 0.6s;
}

.top_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  transition: 0.5s;
}

.top_title:hover {
  color: rgb(157, 157, 157);
  transition: 0.5s;
}

.title_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin-left: 50px;
}

.title_wrapper h1 { 
  color: rgb(230, 230, 230);
  font-weight: 700;
  font-style: 14px;
}

.split_bar {
  margin: 0 10px;
  height: 25px;
  width: 2px;
  background-color: whitesmoke;
}

.middle_sqaure_tabs {
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle_sqaure_tabs_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 20px;
}


.middle_sqaure_tabs_wrapper2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: max-content;
  gap: 20px;
  margin: 30px;
}

.icons_and_text {
  display: flex;
  flex-direction: column;
  height: 150px;
  background-color: rgba(24, 24, 24, 0.6);
  border-radius: 0.45rem;
  align-items: center;
  justify-content: center;
  width: 180px;
  
}

.icons_and_text p { 
margin: 5px;
  font-size: 12px;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icons {
  width: 25px;
  height: 18px;
  object-fit: cover;
  margin: 10px;
}

.icons_and_text3 {
  background-color: rgba(247, 247, 247, 0);
  text-align: center;
  margin: 0 20px;
  width: 230px;
}

.icons_and_text3 h1 {
  color: rgb(136, 0, 0);
  font-size: 18px;
  font-weight: 700;
}

.icons_and_text3 p {
  color: rgb(192, 192, 192);
  font-size: 13px;
}

