/*for  the main contact page */


.contact_whole { 
width: 100vw;  
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;  
}

.contact_parent { 
    padding-top: 10vh;
    padding-bottom: 30vh;
}


@media (min-width: 200px) and (max-width: 300px) {
    .contact_whole { 
        width: 220px;  
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
} 

}



@media (min-width: 300px) and (max-width: 400px) {
    .contact_whole { 
        width: 250px;  
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
} 

}

