@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
/*  font-family: 'Akronim', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
/*  font-family: 'Teko', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
/*  font-family: 'Oxygen', sans-serif; */

.list_div ol {
    list-style: none;
}

.projects_page_whole {
    width: 100vw;
    background-color: rgb(22, 22, 22);
}

.logored {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: white 0px 0px 4px;
    transition: 0.5s;
    margin-bottom: 10px;
    transform: scale(0.7);
}

.logored:hover {
    transition: 0.5s;
    transform: scale(0.75);
}

.projects_page_wrapper {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.list_div {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.title_and_title_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title1 {
    display: flex;
    flex-direction: row;
    color: rgb(226, 226, 226);
    font-size: 20px;
    font-family: Teko, sans-serif;
    font-weight: 900;
}

.title {
    height: 40px;
}

.title h1 {
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: rgb(193, 193, 193);
    font-size: 15px;
    font-family: Teko, sans-serif;
    font-weight: 900;
    background-color: black;
    border-radius: 0.60rem;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px;
    width: 250px;
    border-color: rgb(145, 145, 145);

}

.title_brother {
    color: orange;
}

.description_list_element_wrapper {
    height: 65px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    background-color: rgba(128, 128, 128, 0.049);
    border-radius: 0.45rem;
    box-shadow: rgba(255, 255, 255, 0.146) 0px 0px 4px;
    padding: 5px;
}

.description_list_element {
    text-align: center;
    width: 160px;
    font-size: 9px;
    color: rgb(0, 167, 131);
    margin-top: 1px;
    margin-bottom: 1px;
}

.description_list_element_right_side {
    color: rgb(184, 162, 0);
    white-space: nowrap;
}

.buttons_list_element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-auto-flow: dense;
    margin: 20px;
}

.contact_button {
    background-color: rgb(90, 96, 255);
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.15rem;
    box-shadow: white 0px 0px 2px;
    color: white;
    transition: 0.4s;
}

.contact_button:hover {
    transition: 0.4s;
    background-color: rgba(90, 96, 255, 0.714);
}


.see_more_button {
    background: linear-gradient(to top, rgb(52, 52, 52), rgb(50, 50, 50), rgb(49, 49, 49));
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.15rem;
    box-shadow: white 0px 0px 2px;
    color: white;
    transition: 0.4s;
}

.see_more_button:hover {
    background: linear-gradient(to top, rgba(52, 52, 52, 0.62), rgba(50, 50, 50, 0.541), rgba(49, 49, 49, 0.562));
    transition: 0.4s;
}

.categories_wrapper {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    gap: 10px;

}

.list2 {
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    flex-direction: column;
    width: max-content;
    height: 400px;
    border-radius: 0.85rem;
    box-shadow: rgba(253, 253, 253, 0.174) 0px 0px 6px;
    transition: 0.4s;
    padding: 10px;
}

.list2:hover {
    background-color: rgb(32, 32, 32);
    transform: scale(1.01);
    transition: 0.4s;
    box-shadow: rgba(224, 224, 224, 0.54) 0px 0px 6px;

}

.video_list_element {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.95rem;
    background-color: #1A303030;
    max-height: 300px;
    max-width: 350px;
    margin: 10px;
}

.video_tag {
    margin: 25px;
    max-height: 250px;
    max-width: 300px;
    border-radius: 0.95rem;
    box-shadow: white 0px 0px 6px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video_tag:hover {
    box-shadow: orange 0px 0px 7px;
    transition: 0.5s;
}

.arrow {
    margin: 10px;
}







@media (min-width: 200px) and (max-width: 300px) and (orientation: portrait) {}

@media (min-width: 200px) and (max-width: 300px) and (orientation: landscape) {}


@media (min-width: 300px) and (max-width: 400px) and (orientation: portrait) {}

@media (min-width: 300px) and (max-width: 400px) and (orientation: landscape) {}


@media (min-width: 400px) and (max-width: 500px) and (orientation: portrait) {


    .list_div {
        margin-top: 150px;
    }

    .categories_wrapper {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        grid-auto-flow: dense;
        gap: 0px;
    }

}

@media (min-width: 400px) and (max-width: 500px) and (orientation: landscape) {

    .list_div {
        margin-top: 150px;
    }

    .categories_wrapper {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        grid-auto-flow: dense;
        gap: 0px;
    }
}


@media (min-width: 500px) and (max-width: 600px) and (orientation: portrait) {

    .list_div {
        margin-top: 150px;
    }


    .categories_wrapper {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        grid-auto-flow: dense;
        gap: 0px;
    }
}

@media (min-width: 500px) and (max-width: 600px) and (orientation: landscape) {
    .list_div {
        margin-top: 150px;
    }

    .categories_wrapper {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        grid-auto-flow: dense;
        gap: 0px;
    }
}


@media (min-width: 600px) and (max-width: 700px) and (orientation: portrait) {
    .list_div {
        margin-top: 150px;
    }

    .categories_wrapper {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        grid-auto-flow: dense;
        gap: 0px;
    }
}

@media (min-width: 600px) and (max-width: 700px) and (orientation: landscape) {
    .list_div {
        margin-top: 150px;
    }


    .categories_wrapper {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        grid-auto-flow: dense;
        gap: 0px;
    }
}


@media (min-width: 700px) and (max-width: 800px) and (orientation: portrait) {
    .list_div {
        margin-top: 150px;
    }

    .categories_wrapper {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        grid-auto-flow: dense;
        gap: 0px;
    }

}

@media (min-width: 700px) and (max-width: 800px) and (orientation: landscape) {
    .list_div {
        margin-top: 150px;
    }

    .categories_wrapper {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        grid-auto-flow: dense;
        gap: 0px;
    }

}



@media (min-width: 800px) and (max-width: 900px) and (orientation: portrait) {
    .list_div {
        margin-top: 150px;
    }
    .list2{ 
        width: 46vw;
    }
}

@media (min-width: 800px) and (max-width: 900px) and (orientation: landscape) {
    .list_div {
        margin-top: 150px;
    }
    .list2{ 
        width: 46vw;
    }
}



@media (min-width: 900px) and (max-width: 1000px) and (orientation: portrait) {
    .list_div {
        margin-top: 150px;
    }
}

@media (min-width: 900px) and (max-width: 1000px) and (orientation: landscape) {
    .list_div {
        margin-top: 150px;
    }

}



@media (min-width: 1000px) and (max-width: 1100px) and (orientation: portrait) {
    .list_div {
        margin-top: 150px;
    }

}

@media (min-width: 1000px) and (max-width: 1100px) and (orientation: landscape) {
    .list_div {
        margin-top: 150px;
    }

}


@media (min-width: 1200px) and (max-width: 1300px) and (orientation: portrait) {
    .list_div {
        margin-top: 150px;

    }
}

@media (min-width: 1200px) and (max-width: 1300px) and (orientation: landscape) {
    .list_div {
        margin-top: 150px;

    }
}

@media (min-width: 1300px) and (max-width: 1400px) and (orientation: portrait) {
    .list_div {
        margin-top: 150px;

    }
}

@media (min-width: 1300px) and (max-width: 1400px) and (orientation: landscape) {
    .list_div {
        margin-top: 150px;

    }
}