@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');
/*  font-family: 'Cabin', sans-serif */

@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
/*  font-family: 'Akronim', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
/*  font-family: 'Teko', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
/*  font-family: 'Oxygen', sans-serif; */

.website_types_whole ol {
    list-style: none;
    width: 100vw;
}

.website_types_whole {
    background-color: rgb(22, 22, 22);
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
}

.website_types_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 20px;
}

.logo_image {
    display: flex;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transform: scale(0.5);
}

.list_wrapper_first {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 18vh;
    background-color: rgb(11, 11, 11);
    box-shadow: rgb(232, 232, 232) 0px 0px 5px;
}

.list_element_first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title_element {
    color: rgb(212, 212, 212);
    padding: 10px;
    font-size: 30px;
    font-family: 'Teko', sans-serif;
}

.name {
    padding: 15px;
    color: orange;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Akronim', sans-serif;
    transition: 0.5s;
}

.name:hover{ 
    font-size: 18px;
    transition: 0.5s;
    color: rgb(234, 234, 234);
}

.list_wrapper {
    background-color: rgb(11, 11, 11);
    box-shadow: rgb(232, 232, 232) 0px 0px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

.list_element_third {
    width: 100vw;
    height: max-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(185, 185, 185)px;
    background-color: rgb(40, 40, 40);
}

.list_element_third p:hover { 
transform: scale(0.95);
transition: 0.5s;
}



.list_element_third p {
    text-align: center;
    transition: 0.5s;
    width: 90vw;
    border-radius: 0.35rem;
    margin: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(197, 197, 197);
    background-color: rgb(16, 16, 16);
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;

}

.descriptions_list_wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

.descriptions_list_wrapper li {
    font-size: 10px;
    color: white;
}

@media (min-width: 200px) and (max-width: 500px) and (orientation: portrait) {


    .list_element_third { 
        height: max-content;
        display: flex;
        flex-direction: column;
    }

} 