@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(20, 20, 20), rgb(31, 31, 31), rgb(3, 3, 3);
  --background-start-rgb: rgb(20, 20, 20), rgb(31, 31, 31), rgb(3, 3, 3);
  --background-end-rgb:  rgb(20, 20, 20), rgb(31, 31, 31), rgb(3, 3, 3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(20, 20, 20), rgb(31, 31, 31), rgb(3, 3, 3);
    --background-start-rgb: rgb(20, 20, 20), rgb(31, 31, 31), rgb(3, 3, 3);
    --background-end-rgb:  rgb(20, 20, 20), rgb(31, 31, 31), rgb(3, 3, 3);
  }
}

body{
  --foreground-rgb: rgb(234, 234, 234), rgb(231, 231, 231), rgb(225, 225, 225);
  --background-start-rgb: rgb(218, 218, 218), rgb(225, 225, 225), rgb(237, 237, 237);
  --background-end-rgb:  rgb(219, 219, 219),  rgb(237, 237, 237),  rgb(229, 229, 229);
}
