.faq_page_whole ol {
    list-style: none;
}

.faq_page_whole ul {
    list-style: none;
}

.faq_page_whole {
    width: 100vw;
    display: flex;
}

.faq_page_whole_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
}

.section_top {
    padding: 50px;
    padding-top: 200px;
    background-image: url("/logogreythreed.jpg");
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    width: 100vw;
    display: flex;
}

.section_top_list_item1 {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.section_top_list_item1:hover {
    color: #e9e9e9;
}

.faq_top_title {
    color: orange;
    font-size: 20px;

}

.section_middle {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section_bottom {
    height: 500px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.faq_sub_titles {
    justify-content: center;
    display: contents;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: rgb(152, 152, 152);
    transition: 0.3s;

}

.faq_sub_titles:hover {
    color: rgb(102, 102, 102);
}

.domain_link {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    padding: 5px;
    padding-top: 2px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 0.45rem;
    color: rgb(40, 40, 40);
}

.domain_link:hover {
    background-color: rgba(219, 142, 0, 0.813);
    text-decoration: none;
    transition: 0.2s;
    color: rgb(241, 241, 241);

}